body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
    background-color: #172836;
}

#header {
    position: absolute; top: 0; left: 0; right: 0; height: 60px; max-height: 60px;
    display: flex; flex-wrap: nowrap;
}

img.logo, #internet-lost {
    align-self: center;
    flex-shrink: 0;
}
img.hiddenImage {
    visibility: hidden;
}

img.fullscreen {
    position: absolute; right: 0;
    height: 60px;
}

#receiver-id {
    flex-shrink: 0;
    align-self: center;
}

#gameTitle {
    color: white;
    position: absolute; left: 80px; top: 36px; width: 120px;
    text-align: right;
    white-space: nowrap;
}

div.status {
    color: white;
    padding-left: 5px;
    font-size: 50px; font-weight: bold;
    align-self: center;
}
#status {
    flex-shrink: 0;
}
#playerList {
    flex-shrink: 0;
    padding-left: 10px;
}

#debug {
    position: absolute; top: 60px; left: 0; right: 0; bottom: 0;
    pointer-events: none;
}

#game {
    border: 0; margin: 0; padding: 0;
    position: absolute; top: 60px; left: 0; right: 0; bottom: 0;
    display: flex; align-items: center; justify-content: center;
}

#webgl-content {
    z-index: 1;
	overflow:hidden;
}

.shade-bg {
 background-color:#2e506b
}
#id-icon {
 align-self: center;
 margin: 0 10px;
}
.code-code-container {
 box-sizing:border-box;
 display:flex;
 justify-content:space-between;
 justify-content:center;
 flex-wrap:nowrap;
 text-align:center;
 margin-bottom:5px;
 margin-top:5px;
 padding:.5em 10px .5em 0;
 font-size: 45px; font-weight: bold;
 color: white;
 min-width: 200px;
}