body {
  overflow  : hidden;
  padding   : 0;
  margin    : 0;
  background-color: #172836;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#header {
  position: relative; top: 0; left: 0; right: 0;
  display: flex; flex-wrap: nowrap; align-items: center;
}
.header-height {
  height: 10vh;
  min-height: 30px;
  max-height: 60px;
}

img.logo, #internet-lost {
  align-self: center;
  flex-shrink: 0;
  height: 7vh;
  min-height: 21px;
  max-height: 42px;
  width: auto;
  margin: 0 10px;
}
img.hiddenImage {
  visibility: hidden;
}

img.fullscreen {
  position: absolute; right: 0;
}

#receiver-id {
  flex-shrink: 0;
  align-self: center;
  font-size: 27px; font-weight: bold;
}

#gameTitle {
  color: white;
  position: absolute;
  font-size: 8px;
  left: 0px; top: 17px; width: 110px;
  text-align: right;
  white-space: nowrap;
}
@media screen and (min-height: 300px) {
  #gameTitle {
    font-size: 2.667vh;
    top: 6vh; width: 36.7vh;
  }
}
@media screen and (min-height: 600px) {
  #gameTitle {
    font-size: 16px;
    top: 36px; width: 220px;
  }
}

div.status {
  color: white;
  padding-left: 5px;
  font-size: 27px; font-weight: bold;
  align-self: center;
  padding-bottom: 4px;
}
@media screen and (min-height: 300px) {
  div.status, #receiver-id {
    font-size: 9vh;
  }
}
@media screen and (min-height: 555px) {
  div.status, #receiver-id {
    font-size: 50px;
  }
}
#status {
  flex-shrink: 0;
}
#playerList {
  flex-shrink: 0;
  padding-left: 10px;
}

#debug {
  position: absolute; top: 60px; left: 0; right: 0; bottom: 0;
  pointer-events: none;
}

#game {
  border: 0; margin: 0; padding: 0;
  position: absolute; top: 30px; left: 0; width: 100%;
  display: flex; align-items: center; justify-content: center;
}
@media screen and (min-height: 300px) {
  #game {
    top: 10vh;
  }
}
@media screen and (min-height: 600px) {
  #game {
    top: 60px;
  }
}

#webgl-content  {
  z-index:  1;
  overflow:hidden;
}

.shade-bg  {
  background-color:#2e506b
}
#id-icon  {
  align-self:  center;
  margin:  0  10px;
  max-height:  24px;  height:  70%;
}
.code-code-container  {
  box-sizing:border-box;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:nowrap;
  color:  white;
  min-width:  120px;  padding-right:  10px;
  height:  80%;  flex-shrink:  0;
}