* :not(input) {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    touch-action: manipulation;
}
body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	width: 100VW; height: 100VH;
	background-color: #172836;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}



#controls {
    position: relative;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    overflow: hidden;
}

#controls-graphic {
    width: 100%;
    height: 100%;
}
.button {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
#Btn-Enter {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    position: absolute;
    background-image: url('controls_enter_idle.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px 250px;
}
#Btn-Enter.active {
    background-image: url('controls_enter_active.png');
}
#Btn-Up {
    background-image: url('controls_idle_up.png');
}
#Btn-Up.active {
    background-image: url('controls_active_up.png');
}

#Btn-Down {
    background-image: url('controls_idle_down.png');
}
#Btn-Down.active {
    background-image: url('controls_active_down.png');
}

#Btn-Left {
    background-image: url('controls_idle_left.png');
}
#Btn-Left.active {
    background-image: url('controls_active_left.png');
}

#Btn-Right {
    background-image: url('controls_idle_right.png');
}
#Btn-Right.active {
    background-image: url('controls_active_right.png');
}

.disabled {
    background-image: url('')!important;
}